#ignore pdf articles stored in library
manuscript/library/*

#ignore generated at latex compile time
*.aux
*.bbl
*.bcf
*.blg
*.lbl
*.log
*.nav
*.out
*.pdf
*.run.xml
*.snm
*.spl
*.synctex.gz
*.toc
*.vrb
**/.auctex-auto

_region_*
#ignore swap files
.~*#

cagfig01.*

#exports
*.html

sym-library

