# files
*.log
*.bak
.project
hs*
ParametricSpecification.json

# hidden directories
.idea/
.settings/
.classpath

# directories
bin/
debug/
lib/
target/
src/main/java/fr/ensma/lias/jerboa/core/rule/rules/
src/test/resources/
